.content {
    display: flex;
    align-items: center;

    >div {
        &:nth-child(1),
        &:nth-child(2) {
            width: 50%;
            margin: 0 !important;
        }

        &:nth-child(2){
            margin-left: 20px !important;
        }
    }
}

.button{
    margin-top: 15px !important;
}